venv/
.venv/
env/

__pycache__/
*.pyc
.ipynb_checkpoints/

data/raw/*.zip
data/raw/*.xlsx

*.log
.DS_Storevenv/
.venv/
env/

__pycache__/
*.pyc
.ipynb_checkpoints/

data/raw/*.zip
data/raw/*.xlsx
data/raw/*.csv

*.log
.DS_Store